/*
Theme Name: Australian Diamonds
Author: Trungnt - Email: thanhtrung2409@gmail.com
Author Email: thanhtrung2409@gmail.com
Version: 1.0
*/

.nav--top__list__item.menu-item-home a:after {
	display: none !important;
}

.nav--top__list__item.active a:after {
    width: 100%;
    background: white;
}

#menu-main-menu .current_page_item a:after {
    width: 100%;
    background: #5c666e;
}

.nav--full__lang-switcher a,
.nav--top__lang-switcher a {
    position: relative;
}

.nav--full__lang-switcher a:first-child,
.nav--top__lang-switcher a:first-child {
     margin: 0 10px 0 0;
     text-decoration: underline;
}

.nav--full__list__item a {
    text-transform: none;
}

.nav--full__lang-switcher a:after,
.nav--top__lang-switcher a:after {
    content: ' / ';
    position: absolute;
    right: -10px;
}

.nav--full__lang-switcher a:last-child:after,
.nav--top__lang-switcher a:last-child:after {
    content: ''; /* Hide for last menu item */
}